@model HMS.Models.ApplicationUser

@{
    Layout = null;
}

@*<div id="modal-content">*@


<div class="modal-content">
    <div class="modal-header bg-light">
        <h6 class="modal-title text-dark" id="exampleModalLabel">

            <i class="fas fa-lock mr-2"></i>Change Password
        </h6>
        <button package="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form id="actionForm">

            <input type="hidden" name="Id" id="userid" data="@Model.Id" />
            <div id="resultDiv" class="text">
            </div>


            <div class="form-group">
                <label>User Name & Email</label>
                <input type="text" class="form-control" value="@Model.UserName-(@Model.Email)" readonly="" />
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="text" class="form-control" value="" id="newpassword" placeholder="new password..." />
            </div>

        </form>



    </div>
    <div class="modal-footer">

        <button type="button" id="assign" data="@Model.Id" data-href="@Url.Action("ChangePassword", "User" , new {@userId = Model.Id})" class="actionButton btn btn-outline-primary">
            <i class="fas fa-key mr-1"></i>Change
        </button>

        <button package="button" class="btn btn-outline-secondary" data-dismiss="modal">
            <i class="far fa-times-circle mr-1"></i>
            Close
        </button>


    </div>
</div>
@*</div>*@


<script>

    $('.actionButton').click(function () {

        var newpassword = $('#newpassword').val();

        if (newpassword === null || newpassword === "") {
            //alert("Password Field Is empty");
            $('#resultDiv').addClass("alert alert-danger");
            $('#resultDiv').html("Password canot be empty");
            return 0;
        }


        //alert(useriD);
        $.ajax({
            url: $(this).attr("data-href"),
            method: "post",
            data: ({
                newPassword: newpassword,
            }),
            dataType: "json"
        })
          .done(function (response) {
              //alert(response.Message);
              if (response.Success) {

                  //var th = $(this);
                  location.reload();
                  //window.location.href = "@Url.Action("Index","User")";

              } else {
                  //alert("hi in else");

                  $('#resultDiv').addClass("alert alert-danger");
                  $('#resultDiv').html(response.Message);
              }
          });

    });



</script>

